.input-wrapper {
  margin-bottom: 1rem;
  width: 100%;
}

.input-container {
  position: relative;
  display: flex;
  align-items: center;
}

.input-container.with-prefix {
  border: 1px solid var(--border-color);
  border-radius: 4px;
  transition: border-color 0.3s;
  background: var(--input-bg);
}

.input-container.with-prefix:focus-within {
  border-color: var(--primary-color);
}

.input-prefix {
  padding: 0 0.75rem;
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: var(--table-hover);
  border-right: 1px solid var(--border-color);
  min-width: 50px;
  color: var(--text-light);
}

.input {
  width: 100%;
  padding: 0.75rem;
  border: 1px solid var(--border-color);
  border-radius: 4px;
  font-size: 1rem;
  transition: border-color 0.3s;
  background: var(--input-bg);
  color: var(--text-dark);
}

.input.has-prefix {
  border: none;
  border-radius: 0 4px 4px 0;
}

.input:focus {
  outline: none;
  border-color: var(--primary-color);
}

.input.has-prefix:focus {
  border: none;
}

.input-error {
  border-color: #f44336;
}

.input-container.with-prefix .input-error {
  border: none;
}

.input-container.with-prefix.input-error {
  border-color: #f44336;
}

.error-message {
  color: #f44336;
  font-size: 0.875rem;
  margin-top: 0.25rem;
  display: block;
}
